body{
  background-color: #E0EBE8;
  text-align:center;
  font-family: 'Baloo Chettan 2', cursive;
}
.navdiv{
  padding:1% 7% 0 7%;
}
.photo{
  width: 10%;
}
.top-container{
  position: relative;
}
h1{
  color:#4AB19A;
  font-size: 54px;
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: 'Norican', cursive;
}
p{
  font-size: 20px;
  color:#4AB19A;
  font-weight: bold;
}
.cl-2{
  position:absolute;
  margin-left: 7%;
  margin-top: 0px;
}
.cl-1{
  position: absolute;
  margin-top:1%;
  margin-left: 12%;
  /* margin-right: 10% */
}
.p-abt{
  color:white;
  background-color: #3EA08A;
  width:60%;
  margin:2% auto 0 auto;
}
.abt-prof{
  margin-top: 2%;
  padding:2% 15% 0 15%;
}
.chef-img{
  margin-bottom: 2%;
}
.hckr-img{
  margin-bottom: 18%;
}
.btn{
  background-color: #3EA08A;
  color:white;
}
.navitem{
  font-size: 20px;
  font-weight: bold;
}
